.link {
    &:hover,
    &:focus {
        text-decoration: none;
    }
    &--bordered {
        & {
            border-bottom: 1px solid transparent;
            color: #000;
        }
        &:hover,
        &:focus {
            border-bottom-color: #000;
            color: #000;
        }
    }
    &--text {
        & {
            border-bottom: 1px dotted #000;
            color: #000;
        }
        &:hover,
        &:focus {
            border-bottom-color: #337ab7;
            color: #337ab7;
        }
    }
}