.contact {
    &__wrapper {
        margin-bottom: 40px;
    }
    &__title {
        & {
            @include fnt((ff: $f_primary_bold, fs: 28px, lh: 32px));
            color: #000;
            margin: 15px 0px 50px;
        }
        &__wrapper {
            border-top: 1px solid #000;
            margin: 25px 0px 20px;
        }
        &--small {
            @include fnt((ff: $f_primary_bold, fs: 18px, lh: 25px));
            color: #000;
            margin: 0px 0px 12px;
            clear: both;
        }
        &--medium {
            @include fnt((ff: $f_primary_bold, fs: 20px, lh: 24px));
            color: #000;
            margin: 0px 0px 30px;
        }
        &--line {
            display: inline-block;
            transform: translateY(-19px);
            @include fnt((ff: $f_primary_bold, fs: 24px, lh: 28px));
            color: #000;
            margin: 0px;
            background: #fff;
            padding-right: 15px;
        }
    }
    &__text {
        @include fnt((ff: $f_primary_regular, fs: 15px, lh: 20px));
        color: #000;
        margin-bottom: 12px;
    }
    &__store {
        margin-top: 55px;
    }
    &__table {
        td {
            & {
                @include fnt((ff: $f_primary_regular, fs: 15px, lh: 26px));
                color: #000;
            }
            &:first-child {
                padding-right: 15px;
            }
        }
    }
    &__reg {
        & {
            border-radius: 2px;
            background: $c_bg_gray;
            padding: 25px;
        }
        &__text {
            @include fnt((ff: $f_primary_regular, fs: 14px, lh: 20px));
            color: #000;
            margin-bottom: 35px;
        }
        .btn {
            width: 100%;
        }
    }
    &__map {
        height: 295px;
    }
    &__box {
        & {
            margin-bottom: 50px;
            color: #000;
        }
        &__title {
            @include fnt((ff: $f_primary_bold, fs: 18px, lh: 25px));
            height: 25px;
            overflow: hidden;
        }
        &__name {
            & {
                @include fnt((ff: $f_primary_regular, fs: 15px, lh: 30px));
            }
            span {
                @include fnt((ff: $f_primary_regular, fs: 13px, lh: 30px));
                color: #6f6f6f;
            }
        }
        &__phone {
            a {
                @include fnt((ff: $f_primary_regular, fs: 15px, lh: 27px));
                color: #000;
            }
            .ico {
                margin: 4px 12px 0px 3px;
            }
        }
        &__email {
            a {
                line-height: 27px;
            }
            .ico {
                margin: 6px 10px 0px 0px;
            }
        }
    }
}

/* MEDIA QUERY */
@media (min-width: $md-min) {
    .contact {
        &__slider {
            width: calc(100% + 15px);
            margin-right: -15px;
        }
        &__map,
        &__reg {
            width: calc(100% + 15px);
            margin-left: -15px;
        }
    }
}
@media (max-width: $md-max) {
    .contact {
        &__map {
            height: 248px;
        }
    }
}
@media (max-width: $sm-max) {
    .contact {
        &__reg {
            margin-top: 25px;
        }
        &__map {
            height: 315px;
            margin: 25px 0px;
        }
    }
}
@media (max-width: $xs-max) {
    .contact {
        &__map {
            height: 200px;
        }
    }
}
@media (max-width: $cxs-max) {
    .contact {
        &__box {
            &__wrapper {
                width: 100%;
            }
        }
        &__reg {
            .form-group {
                width: 100%;
            }
        }
    }
}