.listing {
    &__cat {
        & {
            padding: 0px 5px;
            overflow: hidden;
            margin-bottom: 15px;
        }
        &__box {
            & {
                border-radius: 2px;
                background: yellow;
                padding: 5px;
                padding-right: 25px;
                float: left;
                overflow: hidden;
                height: 46px;
                margin: 1%;
            }
            &:hover {
                background: yellow;
            }
            &:after {
                border-radius: 0px, 2px, 2px, 0px;
                content: "";
                position: absolute;
                right: 0px;
                top: 0px;
                bottom: 0px;
                margin: auto;
                height: 100%;
                width: 20px;
                background-color: gray;
            }
            .ico {
                @include absoluteCentered;
                left: auto;
                right: 7px;
                z-index: 5;
            }
            table {
                height: 100%;
            }
            td {
                vertical-align: middle;
            }
        }
        &__wrapper {
            height: 100%;
        }
        &__img {
            & {
                position: relative;
                width: 26%;
                height: 36px;
                background: #fff;
                float: left;
            }
            img {
                @include absoluteCentered;
                max-width: 90%;
                max-height: 90%;
            }
        }
        &__name {
            @include fnt((ff: $f_primary_bold, fs: 15px, lh: 18px));
            height: 36px;
            width: 74%;
            overflow: hidden;
            vertical-align: middle;
            color: #211f20;
            padding-left: 5px;
            float: left;
        }
    }
}

/* MEDIA QUERY */
@media (min-width: $lg-min) {
    .listing {
        &__cat {
            &__box {
                width: calc((100% - 120px) / 6);
                margin: 10px;
            }
        }
    }
}
@media (max-width:$sm-max) {
    .listing {
        &__cat {
            padding: 0px 8px;
        }
    }
}
@media (max-width: $cxs-max) {
    .listing {
        &__cat {
            & {
                padding: 0px 8px;
            }
            &__box {
                max-width: 270px;
            }
            &__img {
                display: none;
            }
            &__name {
                width: 100%;
            }
        }
    }
}