@mixin t-element-spinner {
    .ui-spinner {
        & {
            position: relative;
            height: 36px;
            border: 1px solid #eaeaea;
        }
        .ui-spinner-input {
            @include fnt((ff: $f_primary_bold, fs: 16px, lh: 36px));
            color: #000;
            width: 75%;
            float: left;
            margin: 0px;
            border: none;
            text-align: center;
            background: #f6f6f6;
        }
        .ui-spinner-button {
            & {
                box-sizing: border-box;
                position: absolute;
                width: 25%;
                right: 0px;
                height: 50%;
                border-left: 1px solid #eaeaea;
                cursor: pointer;
            }
            &:after {
                @include absoluteCentered;
                @include fnt((ff: $f_primary_bold, fs: 18px, lh: 18px));
                color: #000;
            }
            &.ui-spinner-up {
                & {
                    top: 0px;
                    border-bottom: 1px solid #eaeaea;
                }
                &:after {
                    content: "+";
                    top: -3px;
                }
            }
            &.ui-spinner-down {
                & {
                    bottom: 0px;
                }
                &:after {
                    content: "_";
                    top: -7px;
                    font-size: 17px;
                }
            }
            &:hover,
            &:focus {
                &:after {
                    background: #f6f6f6;
                }
            }
        }
    }
}