$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$ico-check: "\e912";
$ico-arrow-left: "\e910";
$ico-arrow-right: "\e911";
$ico-angle-left: "\e90e";
$ico-angle-right: "\e90f";
$ico-box: "\e900";
$ico-cart: "\e901";
$ico-close: "\e902";
$ico-delimiter: "\e903";
$ico-download-file: "\e904";
$ico-grid-view: "\e905";
$ico-house: "\e906";
$ico-idea: "\e907";
$ico-list-view: "\e908";
$ico-wishlist: "\e909";
$ico-lock: "\e90a";
$ico-menu: "\e90b";
$ico-tick: "\e90c";
$ico-user: "\e90d";

